.featuredSection{

    width:90%;

    max-width:1300px;

    margin:70px auto;

}

.sectionHeader{

    margin-bottom:35px;

}

.sectionHeader h2{

    font-size:40px;

    color:#FAFAFA;

}

.sectionHeader p{

    margin-top:8px;

    color:#A1A1AA;

}

.featuredGrid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(340px,1fr));

    gap:25px;

}