.footer {
  max-width: 1200px;

  margin: 120px auto 40px;

  padding: 40px 22px;

  border-top: 1px solid #222226;

  display: flex;

  justify-content: space-between;

  align-items: flex-end;

  gap: 40px;
}

.footerTop h3 {
  font-size: 24px;

  color: white;

  margin-bottom: 10px;

  font-weight: 700;
}

.footerTop p {
  max-width: 420px;

  line-height: 1.7;

  color: #8f8f95;

  font-size: 15px;
}

.footerBottom {
  display: flex;

  flex-direction: column;

  align-items: flex-end;

  gap: 10px;
}

.footerBottom span {
  color: #71717a;

  font-size: 14px;
}

.footerBottom a {
  text-decoration: none;

  color: white;

  font-weight: 600;

  transition: 0.3s;
}

.footerBottom a:hover {
  color: #dc2626;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;

    align-items: flex-start;

    margin-top: 80px;
  }

  .footerBottom {
    align-items: flex-start;
  }
}
