.hero{

max-width:850px;

margin:90px auto 70px;

padding:0 22px;

text-align:center;

position:relative;

}

.heroBadge{

display:inline-flex;

padding:8px 18px;

border-radius:999px;

border:1px solid #28282D;

background:#121214;

font-size:12px;

font-weight:700;

letter-spacing:1px;

color:#A1A1AA;

margin-bottom:28px;

}

.hero h1{

font-size:68px;

line-height:1.05;

font-weight:800;

letter-spacing:-3px;

color:white;

margin-bottom:22px;

}

.hero p{

max-width:620px;

margin:auto;

color:#A1A1AA;

font-size:18px;

line-height:1.8;

margin-bottom:42px;

}

.hero strong{

color:white;

font-weight:600;

}

.searchWrapper{

position:relative;

max-width:720px;

margin:auto;

}

.search{

width:100%;

height:66px;

padding-left:60px;

padding-right:22px;

background:#121214;

border:1px solid #252529;

border-radius:18px;

font-size:16px;

color:white;

outline:none;

transition:
.35s ease;

}

.search:focus{

border-color:#DC2626;

box-shadow:
0 0 0 4px rgba(220,38,38,.10);

transform:translateY(-2px);

}

.searchIcon{

position:absolute;

left:22px;

top:50%;

transform:translateY(-50%);

font-size:18px;

color:#71717A;

}

.suggestions{

margin-top:14px;

background:#121214;

border:1px solid #27272A;

border-radius:18px;

overflow:hidden;

backdrop-filter:blur(20px);

}

.suggestion{

padding:18px 22px;

cursor:pointer;

transition:.25s;

border-bottom:1px solid #1E1E22;

}

.suggestion:last-child{

border:none;

}

.suggestion:hover{

background:#19191D;

}

.suggestion small{

display:inline-block;

margin-bottom:8px;

font-size:11px;

letter-spacing:1px;

color:#8F8F95;

text-transform:uppercase;

}

.suggestion h4{

font-size:16px;

font-weight:600;

color:white;

margin-bottom:6px;

}

.suggestion p{

font-size:14px;

line-height:1.5;

color:#8F8F95;

}
