.hero{

max-width:850px;

margin:90px auto 70px;

padding:0 22px;

text-align:center;

position:relative;

}

.heroBadge{

display:inline-flex;

padding:8px 18px;

border-radius:999px;

border:1px solid #28282D;

background:#121214;

font-size:12px;

font-weight:700;

letter-spacing:1px;

color:#A1A1AA;

margin-bottom:28px;

}

.hero h1{

font-size:68px;

line-height:1.05;

font-weight:800;

letter-spacing:-3px;

color:white;

margin-bottom:22px;

}

.hero p{

max-width:620px;

margin:auto;

color:#A1A1AA;

font-size:18px;

line-height:1.8;

margin-bottom:42px;

}

.hero strong{

color:white;

font-weight:600;

}

.searchWrapper{
    position:relative;
    max-width:720px;
    margin:auto;
    transition:.35s ease;
}

.search{
    width:100%;
    height:66px;

    padding-left:60px;
    padding-right:22px;

    background:#121214;

    border:1px solid #252529;
    border-radius:18px;

    font-size:16px;
    color:white;

    outline:none;

    transition:
        border-color .35s ease,
        box-shadow .35s ease,
        transform .35s ease,
        background .35s ease;
}

.search:hover{
    border-color:#DC2626;
    box-shadow:
        0 0 18px rgba(220,38,38,.18),
        0 0 40px rgba(220,38,38,.08);
    transform:translateY(-2px);
}

.search:focus{
    border-color:#EF4444;
    box-shadow:
        0 0 25px rgba(239,68,68,.35),
        0 0 60px rgba(239,68,68,.18);
    transform:translateY(-3px);
}

.searchIcon{
    position:absolute;
    left:22px;
    top:50%;
    transform:translateY(-50%);
    font-size:18px;
    color:#71717A;
    transition:.35s ease;
}

.searchWrapper:hover .searchIcon{
    color:#EF4444;
    transform:translateY(-50%) scale(1.08);
}

.search:focus + .searchIcon,
.searchWrapper:focus-within .searchIcon{
    color:#EF4444;
    transform:translateY(-50%) scale(1.12);
}
