.navbar{

position:sticky;

top:0;

z-index:100;

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 7%;

backdrop-filter:blur(16px);

background:rgba(9,9,11,.72);

border-bottom:1px solid #202020;

}

.left{

display:flex;

align-items:center;

gap:14px;

}

.left img{

width:46px;

height:46px;

border-radius:14px;

}

.left h2{

font-size:22px;

font-weight:700;

color:#FAFAFA;

}

.left p{

font-size:13px;

color:#71717A;

margin-top:3px;

}

.insta{

background:#DC2626;

padding:12px 18px;

border-radius:14px;

font-weight:600;

transition:.25s;

}

.insta:hover{

background:#EF4444;

transform:translateY(-2px);

}.navbar{

position:sticky;

top:0;

z-index:100;

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 7%;

backdrop-filter:blur(16px);

background:rgba(9,9,11,.72);

border-bottom:1px solid #202020;

}

.left{

display:flex;

align-items:center;

gap:14px;

}

.left img{

width:46px;

height:46px;

border-radius:14px;

}

.left h2{

font-size:22px;

font-weight:700;

color:#FAFAFA;

}

.left p{

font-size:13px;

color:#71717A;

margin-top:3px;

}

.insta{

background:#DC2626;

padding:12px 18px;

border-radius:14px;

font-weight:600;

transition:.25s;

}

.insta:hover{

background:#EF4444;

transform:translateY(-2px);

}

.left img{

transition:
transform .35s ease;

}

.left:hover img{

transform:
rotate(-6deg)
scale(1.08);

}

.insta{

transition:
.3s;

}

.insta:hover{

transform:
translateY(-2px);

}
